<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="GAIL" connectionString="Data Source=DESKTOP-LNEBJAO;Database=GAIL;Integrated Security=SSPI;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GAILConnectionString" connectionString="Data Source=DESKTOP-LNEBJAO;Initial Catalog=GAIL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
